Email Agent 11th Feb 2026.json
{
  "name": "Email Agent with Gmail and Google Sheets - Fixed Loop",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "79254829-8866-410d-a1ab-879567002598",
              "leftValue": "={{ $('Read Google Sheet3').item.json.Status }}",
              "rightValue": "Unsent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15655108-723b-4053-8140-56e05d5647da",
      "name": "Filter Unsent Emails3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        224,
        2704
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "03b81055-feaf-43c1-a933-218034e84558",
      "name": "Send Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        2688
      ],
      "webhookId": "a19a711c-22a0-4f74-85c7-0a4317b54162",
      "credentials": {
        "gmailOAuth2": {
          "id": "DXLexHWTy5RJ40jQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mark as sent successfully\nconst gmailResponse = $input.item.json;\n\nreturn {\n  json: {\n    Name: $input.item.json.Name,\n    Email: $input.item.json.Email,\n    Status: 'Sent',\n    SentDate: new Date().toISOString().split('T')[0],\n    Error: '',\n    MessageId: gmailResponse.id || '' // Gmail message ID for reference\n  }\n};\n"
      },
      "id": "74411800-2e17-4555-8121-bbf9fb6b29e7",
      "name": "Mark as Sent3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        2592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mark as failed with error\nconst error = $input.item.json.error?.message || JSON.stringify($input.item.json.error) || 'Unknown error';\n\nreturn {\n  json: {\n    Name: $input.item.json.Name,\n    Email: $input.item.json.Email,\n    Status: 'Failed',\n    SentDate: new Date().toISOString().split('T')[0],\n    Error: error.substring(0, 100), // Limit error message length\n    MessageId: ''\n  }\n};\n"
      },
      "id": "8c4add5b-7365-4fb2-937e-3b1427051a99",
      "name": "Mark as Failed3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        2784
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "28df1c4b-298d-437c-b430-c09a5c49319f",
      "name": "Wait 2 Seconds1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        2672
      ],
      "webhookId": "d7b8166b-8b5a-4d38-ae73-70a6806bc02a",
      "notes": "Prevents Gmail rate limiting - adjust as needed"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Mohali",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E/edit#gid=0"
        },
        "options": {}
      },
      "id": "a4c8a99b-5d62-422f-887b-a218f22a478b",
      "name": "Read Google Sheet3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        48,
        2688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IF2zFMyLrfQgZ9ss",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML template\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Transform Your Property Brochures Into 24/7 Sales Agents</title>\n    <!--[if mso]>\n    <style type=\"text/css\">\n        body, table, td {font-family: Arial, sans-serif !important;}\n    </style>\n    <![endif]-->\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; background-color: #f8f9fa;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #f8f9fa; padding: 20px 0;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 600px; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.1);\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n                            <h1 style=\"font-size: 28px; margin: 0 0 15px 0; font-weight: 700;\">🤖 Transform Your Property Brochures Into 24/7 Sales Agents</h1>\n                            <p style=\"font-size: 18px; margin: 0; opacity: 0.9;\">Turn PDFs into Intelligent AI Assistants</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 30px;\">\n                            \n                            <!-- Greeting -->\n                            <div style=\"font-size: 16px; margin-bottom: 25px; line-height: 1.5;\">\n                                <strong>Hi [Name],</strong><br><br>\n                                Imagine if your property brochures could work around the clock, answering questions, qualifying leads as you sleep, and help your team scheduling smooth visits.\n                            </div>\n                            \n                            <!-- Benefits Grid -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 25px 0; padding: 25px; background: #f8f9ff; border-radius: 10px; border-left: 4px solid #667eea;\">\n                                <tr>\n                                    <td width=\"50%\" style=\"padding: 10px; vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"color: #28a745; font-weight: bold; font-size: 16px; padding-right: 10px; vertical-align: top;\">✅</td>\n                                                <td style=\"font-size: 14px; line-height: 1.6;\">\n                                                    <strong>24/7 Instant Response</strong><br>\n                                                    Never miss a lead again\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"50%\" style=\"padding: 10px; vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"color: #28a745; font-weight: bold; font-size: 16px; padding-right: 10px; vertical-align: top;\">✅</td>\n                                                <td style=\"font-size: 14px; line-height: 1.6;\">\n                                                    <strong>Auto Lead Qualification</strong><br>\n                                                    Smart scoring & prioritization\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width=\"50%\" style=\"padding: 10px; vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"color: #28a745; font-weight: bold; font-size: 16px; padding-right: 10px; vertical-align: top;\">✅</td>\n                                                <td style=\"font-size: 14px; line-height: 1.6;\">\n                                                    <strong>Website/WhatsApp Integration</strong><br>\n                                                    Meet customers where they are\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"50%\" style=\"padding: 10px; vertical-align: top;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"color: #28a745; font-weight: bold; font-size: 16px; padding-right: 10px; vertical-align: top;\">✅</td>\n                                                <td style=\"font-size: 14px; line-height: 1.6;\">\n                                                    <strong>CRM Integration</strong><br>\n                                                    Seamless lead management\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Problem Statement -->\n                            <div style=\"background: #fff3cd; border: 1px solid #ffeaa7; border-radius: 8px; padding: 20px; margin: 25px 0;\">\n                                <h3 style=\"color: #856404; margin: 0 0 10px 0; font-size: 16px;\">🚨 The Problem You're Facing:</h3>\n                                <p style=\"color: #856404; font-size: 14px; margin: 0;\"><strong>60-70% of real estate inquiries are lost</strong> because they happen outside business hours. When potential buyers call or message at 9 PM or weekends, traditional systems fail them.</p>\n                            </div>\n                            \n                            <!-- Comparison Section -->\n                            <h2 style=\"text-align: center; font-size: 22px; color: #333; margin: 30px 0 25px 0; font-weight: 600;\">Traditional Chatbots vs Our AI Agent</h2>\n                            \n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 30px;\">\n                                <tr>\n                                    <td width=\"48%\" style=\"vertical-align: top; padding-right: 2%;\">\n                                        <div style=\"background: #ffe6e6; border: 2px solid #ff9999; border-radius: 10px; padding: 20px; text-align: center;\">\n                                            <h4 style=\"font-size: 16px; margin: 0 0 15px 0; font-weight: 600; color: #d32f2f;\">❌ Traditional Chatbots</h4>\n                                            <div style=\"text-align: left;\">\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ Hard-coded responses only</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ Can't understand context</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ Gives irrelevant answers</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ Frustrates customers</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ No lead qualification</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">❌ Requires constant updates</p>\n                                            </div>\n                                        </div>\n                                    </td>\n                                    <td width=\"48%\" style=\"vertical-align: top; padding-left: 2%;\">\n                                        <div style=\"background: #e6f7ff; border: 2px solid #40a9ff; border-radius: 10px; padding: 20px; text-align: center;\">\n                                            <h4 style=\"font-size: 16px; margin: 0 0 15px 0; font-weight: 600; color: #1976d2;\">✅ Our Intelligent AI Agent</h4>\n                                            <div style=\"text-align: left;\">\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Understands natural language</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Context-aware conversations</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Precise, relevant answers</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Engages like a human agent</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Auto-generates lead scores</p>\n                                                <p style=\"font-size: 13px; margin: 8px 0; padding-left: 20px; position: relative;\">✅ Self-learning from brochures</p>\n                                            </div>\n                                        </div>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- Demo Section -->\n                            <div style=\"background: #f8f9fa; border-radius: 10px; padding: 25px; margin: 25px 0; text-align: center;\">\n                                <h3 style=\"color: #333; margin: 0 0 15px 0; font-size: 18px;\">📱 See It In Action</h3>\n                                \n                                <!-- Try Live Demo Button -->\n                                <div style=\"margin-bottom: 20px;\">\n                                    <a href=\"https://buritai.netlify.app/website.html\" target=\"_blank\" style=\"display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 12px 30px; text-decoration: none; border-radius: 25px; font-size: 14px; font-weight: 600; box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);\">\n                                        🎯 Try Live Demo Now\n                                    </a>\n                                    <p style=\"margin: 8px 0 0 0; font-size: 12px; color: #666;\"><em>Experience the AI agent yourself in under 30 seconds</em></p>\n                                </div>\n                                <div style=\"background: white; border-radius: 8px; padding: 15px; margin: 15px 0; border: 1px solid #ddd; font-family: monospace; font-size: 12px; text-align: left;\">\n                                    <div style=\"background: #e3f2fd; border-radius: 5px; padding: 10px; margin: 5px 0; text-align: right;\">\n                                        <strong>Customer:</strong> \"What's the price range for 2BHK apartments?\"\n                                    </div>\n                                    <div style=\"background: #f3e5f5; border-radius: 5px; padding: 10px; margin: 5px 0;\">\n                                        <strong>AI Agent:</strong> \"Our 2BHK apartments range from ₹45L to ₹65L. Based on your budget, I can show you specific units. What's your preferred budget and phone number? Also, are you looking for immediate possession or under-construction?\"\n                                    </div>\n                                    <div style=\"background: #e3f2fd; border-radius: 5px; padding: 10px; margin: 5px 0; text-align: right;\">\n                                        <strong>Customer:</strong> \"Around 50L, ready to move. I'm Rahul, my number is 98765-43210\"\n                                    </div>\n                                    <div style=\"background: #f3e5f5; border-radius: 5px; padding: 10px; margin: 5px 0;\">\n                                        <strong>AI Agent:</strong> \"Perfect Rahul! I have 3 ready-to-move 2BHK units in your budget. Can I get your email for sending detailed brochures? Would you prefer a site visit this weekend?\"\n                                    </div>\n                                    <div style=\"background: #e3f2fd; border-radius: 5px; padding: 10px; margin: 5px 0; text-align: right;\">\n                                        <strong>Customer:</strong> \"rahul.sharma@gmail[dot]com - Yes, Saturday works for me\"\n                                    </div>\n                                </div>\n                                \n                                <div style=\"margin: 20px 0; padding: 15px; background: #e8f5e8; border-radius: 8px; border-left: 4px solid #4caf50;\">\n                                    <h4 style=\"color: #2e7d32; margin: 0 0 10px 0;\">🎯 Automatically Captured in CRM:</h4>\n                                    <div style=\"background: white; padding: 15px; border-radius: 5px; font-size: 12px; font-family: monospace;\">\n                                        <table width=\"100%\" cellpadding=\"5\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td width=\"50%\"><strong>Name:</strong> Rahul</td>\n                                                <td width=\"50%\"><strong>Phone:</strong> 99999-43210</td>\n                                            </tr>\n                                            <tr>\n                                                <td><strong>Email:</strong> rahul.sharma@gmail[dot]com</td>\n                                                <td><strong>Lead Score:</strong> 85/100</td>\n                                            </tr>\n                                            <tr>\n                                                <td><strong>Budget Range:</strong> ₹50L</td>\n                                                <td><strong>Property Type:</strong> 2BHK Ready</td>\n                                            </tr>\n                                            <tr>\n                                                <td colspan=\"2\" style=\"padding-top: 10px;\"><strong>Conversation Summary:</strong> High-intent customer looking for ready-to-move 2BHK apartments in ₹50L budget. Provided contact details willingly. Interested in site visit - scheduled for Saturday. Hot lead for immediate follow-up.</td>\n                                            </tr>\n                                            <tr>\n                                                <td colspan=\"2\" style=\"padding-top: 10px;\"><strong>Status:</strong> <span style=\"color: #4caf50; font-weight: bold;\">HOT LEAD - Priority Follow-up</span></td>\n                                            </tr>\n                                        </table>\n                                    </div>\n                                </div>\n                                \n                                <p style=\"margin: 15px 0 0 0;\"><em>💡 Notice how our AI captures complete lead data, scores engagement, and provides actionable insights for your sales team!</em></p>\n                            </div>\n                            \n                            <!-- Features Highlight -->\n                            <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; border-radius: 10px; padding: 25px; margin: 25px 0;\">\n                                <h3 style=\"text-align: center; margin: 0 0 20px 0; font-size: 20px;\">🚀 Key Features That Drive Results</h3>\n                                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                    <tr>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">🧠</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">Learns from your brochures automatically</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">📊</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">Auto-generates lead scores</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">💬</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">WhatsApp & Website integration</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">📈</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">Detailed conversation analytics</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                    </tr>\n                                    <tr>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">🔄</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">CRM & spreadsheet sync</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                        <td width=\"50%\" style=\"padding: 8px; vertical-align: top;\">\n                                            <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                <tr>\n                                                    <td style=\"background: rgba(255,255,255,0.2); border-radius: 50%; width: 30px; height: 30px; text-align: center; vertical-align: middle; font-size: 16px;\">⚡</td>\n                                                    <td style=\"padding-left: 10px; font-size: 14px; vertical-align: middle;\">Instant setup (under 24 hours)</td>\n                                                </tr>\n                                            </table>\n                                        </td>\n                                    </tr>\n                                </table>\n                            </div>\n                            \n                            <!-- Stats Section -->\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 25px 0; text-align: center;\">\n                                <tr>\n                                    <td width=\"33.33%\" style=\"background: #f8f9fa; padding: 20px; border-radius: 8px;\">\n                                        <span style=\"font-size: 24px; font-weight: bold; color: #667eea; display: block;\">90%</span>\n                                        <span style=\"font-size: 12px; color: #666; margin-top: 5px; display: block;\">Reduction in cost per lead</span>\n                                    </td>\n                                    <td width=\"5\"></td>\n                                    <td width=\"33.33%\" style=\"background: #f8f9fa; padding: 20px; border-radius: 8px;\">\n                                        <span style=\"font-size: 24px; font-weight: bold; color: #667eea; display: block;\">24/7</span>\n                                        <span style=\"font-size: 12px; color: #666; margin-top: 5px; display: block;\">Always available</span>\n                                    </td>\n                                    <td width=\"5\"></td>\n                                    <td width=\"33.33%\" style=\"background: #f8f9fa; padding: 20px; border-radius: 8px;\">\n                                        <span style=\"font-size: 24px; font-weight: bold; color: #667eea; display: block;\">3x</span>\n                                        <span style=\"font-size: 12px; color: #666; margin-top: 5px; display: block;\">More qualified leads</span>\n                                    </td>\n                                </tr>\n                            </table>\n                            \n                            <!-- CTA Section -->\n                            <div style=\"background: #28a745; color: white; text-align: center; padding: 30px; border-radius: 10px; margin: 25px 0;\">\n                                <h3 style=\"margin: 0 0 10px 0;\">Ready to Transform Your Lead Generation?</h3>\n                                <p style=\"margin: 0 0 15px 0;\">Get your AI sales agent up and running in 24 hours</p>\n                                <a href=\"https://calendar.app.google/4Vhdf8sv32c4YY176\" target=\"_blank\" style=\"display: inline-block; background: white; color: #28a745; padding: 15px 30px; text-decoration: none; border-radius: 25px; font-size: 16px; font-weight: 600; margin-top: 15px;\">Book Free Demo Call</a>\n                                <br><br>\n                                <small style=\"font-size: 12px;\">✨ Special Launch Offer for early adopters</small>\n                            </div>\n                            \n                            <!-- P.S. Section -->\n                            <div style=\"margin-top: 30px; padding: 20px; background: #f8f9fa; border-radius: 8px;\">\n                                <p style=\"margin: 0 0 10px 0;\"><strong>P.S.</strong> Every minute you wait, competitors are capturing leads that could be yours. Our AI agent works while you sleep, ensuring no opportunity slips away.</p>\n                                <p style=\"margin: 0;\"><em>Ready to see how your brochure performs as an AI sales agent? Reply to this email, and I'll set up a personalized demo with your actual property brochure.</em></p>\n                            </div>\n                            \n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background: #333; color: white; text-align: center; padding: 20px; font-size: 12px;\">\n                            <p style=\"margin: 0;\">Best regards,<br>\n                            <strong>Burit.AI</strong><br>\n                            AI Solutions for Real Estate<br>\n                            📧 burit.solveai@gmail.com</p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n`;\n\n// Replace [Name] with actual name from Google Sheets\nconst personName = $input.item.json.Name || 'there';\n\n// Capitalize first letter of name\nconst capitalizedName = personName.charAt(0).toUpperCase() + personName.slice(1);\n\n// Replace [Name] in HTML template\nconst personalizedHtml = htmlTemplate.replace(/\\[Name\\]/g, capitalizedName);\n\n// Create personalized subject line\nconst emailSubject = `🚀 Stop Losing 70% of Your Property Leads`;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    htmlContent: personalizedHtml,\n    personalizedName: capitalizedName,\n    emailSubject: emailSubject\n  }\n};"
      },
      "id": "19af162f-4f5a-4a49-a060-d25a108888d2",
      "name": "Personalize HTML Template4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        2672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6df17fc0-69c9-45a4-88c2-5e69c793f615",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        2688
      ],
      "id": "fdf06faf-bd3c-4eed-b89e-b2113b54f818",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Mohali",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GL09vsGYHtDadmXCIShp6L0ikZDHb83B1RaRO8i057E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ \n  v = $('Send Gmail1').item.json.labelIds[0].toLowerCase(),\n  v.charAt(0).toUpperCase() + v.slice(1)\n}}\n",
            "Email Address": "={{ $('Personalize HTML Template4').item.json['Email Address'] }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2823375b-5784-4b92-a5d2-ea36239a3388",
      "name": "Read Google Sheet4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1888,
        2784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IF2zFMyLrfQgZ9ss",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        2704
      ],
      "id": "7343d147-29c6-4d8b-94b7-01370525a7e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        2688
      ],
      "id": "eecff8e0-8958-464c-b76c-9993faf85e87",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Read Google Sheet3": {
      "main": [
        [
          {
            "node": "Filter Unsent Emails3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unsent Emails3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize HTML Template4": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds1": {
      "main": [
        [
          {
            "node": "Send Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Sent3": {
      "main": [
        [
          {
            "node": "Read Google Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Failed3": {
      "main": [
        [
          {
            "node": "Read Google Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mark as Sent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Failed3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Google Sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Personalize HTML Template4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7886e445-f62b-4c50-b3b3-cfe43e5042c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe868f9b4855f439b9710d4e311530bda7c6175848b8d874ca42ed956ef7bb4c"
  },
  "id": "wXNrUAGTsDzscyfe",
  "tags": []
}